/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

.hero-section {
    background-color: #fff;
    /* padding: 280px 0; */
    height: 100vh;
}

.hero-section h1 {
    font-size: 72px;
    color: #333;
    text-align: left;
    font-weight: 700;
    padding-right: 112px;
}

.service-box img {
    max-width: 50px;
}

.service-box {
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 1px solid #44645F;
}

.line {
    background-color: #44645F;
    width: 100px;
    height: 4px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.service-box:hover {
    transform: scale(1.05);
}

.why-choose-us h2 {
    color: #2c3e50;
}

.choose-box {
    border-radius: 10px;
    background-color: #fff;
    height: 300px;
    padding: 28px 24px;
}

.choose-box p {
    line-height: 28px;
}

.social-links img {
    width: 30px;
    margin: 0 10px;
}

footer {
    background-color: #f8f9fa;
}

footer p {
    margin-bottom: 10px;
    color: #2c3e50;
}

.fix-img {
    height: autopx;
    width: 100%;
    /* margin-left: 48px; */
}

#aboutus {
    background-color: #FEFBF6;
}

.aboutbox {

    width: 620px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px 52px;
    align-items: center;

    margin-left: 100px;

}

.icon {
    height: 60px;
    width: 60px;
}

section {
    margin-top: 60px;
}

.why-choose-us {
    background-color: #FEFBF6;
}

footer {
    background-color: #FEFBF6;
}

.btn {
    background-color: #C5AE86;
    color: #44645F;
    font-weight: 700;
    float: left;
}

li {
    line-height: 40px;
    /* padding-right: 36px; */
    text-align: justify;
}

p {
    text-align: justify;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
}

.gren {
    color: #44645F;
}

h5 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease, font-weight 0.5s ease;
    /* Add smooth transition for color and font-weight */

}

a:hover {
    color: #44645F;
    font-weight: 600;
}

.service-box:hover {
    transform: scale(1.05);
}

a:active {
    color: #44645F;
    font-weight: 600;
}

.navbar {
    /* background-color: #C5AE86; */
    border-bottom: 1px solid #C5AE86;
}
.smicon {
    height: 24px;
    width: 24px;
    margin-right: 16px;
}
.main-logo {
    height: 100px;
    width: 100px;
}

@media (max-width: 576px) {
    .service-box {
        margin-bottom: 1rem;
    }
    .choose-box {
        margin-bottom: 1rem;
    }
    .fix-img {
        width: 100px;
        height: 100px;
    }
    li {
        line-height: 32px;
        /* padding-right: 36px; */
        text-align: justify;
    }
    .main-logo {
        height: 60px;
        width: 60px;
    }
    .hero-section h1 {
        font-size: 40px;
        color: #333;
        text-align: center;
        font-weight: 700;
    }
    .btn {
        background-color: #C5AE86;
        color: #44645F;
        font-weight: 700;  
        /* float: left !important;    */
    }
    .smicon {
        margin-bottom: 1rem;
    }

}